#div-1 {
	background-color: green;
	display: inline-block;
}

#span-1{
	background-color: purple;
	display: none;
	width: 200px;
	height: 200px;
}

#span-2{
	background-color: red;
	display: block;
}

#div-2{
	background-color: hotpink;
	display: none;

}

#img{
	height: 250px;
	width: 250px;
	display: inline-block;
}

#p-1{
	background-color: #87CEFA;
}

#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

.img-float{
	width: 250px;
	height: 250px;
	float: inherit;
}

.box{
	background-color: darkred;
	border: 1px solid black;
	margin: 5px;
	color:  white;
}
.fifty-percent{
	width: 50%;

}
.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

.two-hundred-percent{
	font-size: 200%;
}

.background{
	min-height: 20rem;
	background: url('https://cutewallpaper.org/22/your-name-aesthetic-desktop-wallpapers/2954230375.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
}

.bg-title{
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg{
	background-color: rgba(0, 0, 0, 0.5);
}

.parent-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: -1;
}

.child-three{
	background-color: gray;
	padding: 10px;
}
html{
	height: 800vh;
}

.container{
	position:  relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}
.gray-box{
	position: absolute;
	z-index: 3;
	border: 2px solid black;
	background-color: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	z-index: 2;
	background-color: lightgreen;
	border: 2px solid black;
	width: 35%;
	left: 270px;
	top:  -15px;
	height: 100px;
}