*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
nav{
	position: sticky;
	padding: 1.1rem 1.1rem 0 1.1rem;

}
.nav-logo, .nav{
	margin: auto;
}
nav ul{
	display: flex;
	justify-content: space-around;
}
/*nav ul li, nav ul div{
	display: inline;
	margin: 0.5rem;
}
nav ul div{
	float: right;
}*/
nav ul li{
	list-style-type: none;

}
nav ul div{
	display: flex;
	width: 45vw;
	justify-content: space-between;
}
.tuitt-button, .apply-button{
	background-color: #c2195b;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem 2rem;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 1px 1.5px 2.5px 0 rgb(0 0 0 / 40%);
	text-transform: uppercase;
}


.intro{
	text-align: center;
	height: 15vh;
	margin: 8rem 20rem;
}

.container{
	text-align: right;
	margin: 1rem 5rem 0 60%;
}
.subtitle{
	font-weight: 200;
	font-size: 1.4rem;
	width: 100%;
	padding-left: 30%;
}

#bg-image{
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 50vh;
}
.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	height: 50vh;
}
.title, .title-2{
	font-family: 'Zilla Slab', serif;
	margin-bottom: 3rem;
	font-size: 3.4rem;
}

.pre-footer{
	background-color: #f7fbfb;
	display: flex;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	height: 40vh;
}
.book-button{
	background-color: #336589;
	padding: 10px 35px;
	border: none;
	border-radius: 25px;
	color: white;
	font-size: 1.3rem;
}
footer{
	text-align: center;
}
footer span{
	margin: 0.5rem 1rem;
}